:host
{
    display: inline-block;
    position: relative;
    cursor: pointer;

    border-radius: 100%;
    padding: 0.75em;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0);

    opacity: 0;
    transition: opacity 225ms linear;
}